doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
    style.
      body {
        background-image: url("img/background.jpg");
        background-size: 100%;
        padding-top: 4%;
        font-family: 'Montserrat', sans-serif;
      }
      a{
        margin: 1%;
      }
  body
    block content
    script(type='text/javascript' src='http://localhost:35729/livereload.js?snipver=1')
