doctype html
html
  head
    title PinterestClone
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
    style.
      .navbar-right{
        margin-right:2%;
      }
      div#first {
        background-image: url();
        opacity:0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        z-index: -1;   
      }
      div#first img{
        width:100%;
        height:100%;
      }
      body{
        word-wrap:break-word;
        font-family: 'Montserrat', sans-serif;
      }
      .grid-item{
        float: left;
        width: 150px;
        height: 150px;
        margin: 1%;
      }
      .grid-item span{
        float:right;
      }
      .grid-item img{
        width: 100%;
        height: 100%;
        border-radius: 5%;
      }
      .grid-item--width {
        width: 300px; 
      }
      .grid-item--height {
        height: 300px;
      }
  body
    div(id="first")
      img(src='img/inapp.jpg')
    nav(class="navbar navbar-default navbar-static-top navbar-inverse")
      div(class="container-fluid")
        p(class="navbar-text navbar-right")<a class="btn btn-default btn-sm" href="/logout"><i class="fa fa-sign-out"></i> Logout </a>
        p(class="navbar-text navbar-right")<a href="/profile"><i class="fa fa-user"></i> Profile</a>
        p(class="navbar-text navbar-left")<a href="/all-pins"><i class="fa fa-globe"></i> All Pins</a>
        p(class="navbar-text navbar-left")<a href="/my-pins"><i class="fa fa-thumb-tack"></i> My Pins</a>
        p(class="navbar-text navbar-left")<a href="/add-pin"><i class="fa fa-plus"></i> Add Pin</a>
    block content
    //script(type='text/javascript' src='http://localhost:35729/livereload.js?snipver=1')
