extends layoutAuth

block content
  div(class="container")
    div(class="col-sm-6 col-sm-offset-3")
      h1: span(class="fa fa-sign-in") Login
      if message.length > 0
        div(class="alert alert-danger") #{message}
      form(action="/login" method="post")
        div(class="form-group")
          label E-mail
          input(type="text", class="form-control", name="email")
        div(class="form-group")
          label Password
          input(type="password", class="form-control", name="password")
        button(type="submit", class="btn btn-warning btn-lg")<i class="fa fa-lock"></i> Login
      hr
      p Need an account? <a href="/signup">Signup</a>
      p or go  <a href="/">home</a>.
