extends layoutAuth

block content
  div(class="container")
    div(class="col-sm-6 col-sm-offset-3")
      h1: span(class="fa fa-sign-in") Sign up
      if message.length > 0
        div(class="alert alert-danger") #{message}
      form(action="/signup" method="post")
        div(class="form-group")
          label Your Name
          input(type="text", class="form-control", name="name")
        div(class="form-group")
          label E-mail
          input(type="text", class="form-control", name="email")
        div(class="form-group")
          label Password
          input(type="password", class="form-control", name="password")
        button(type="submit", class="btn btn-warning btn-lg") Sign up
      hr
      p Already have an Account? <a href="/login">Login</a>
      p or go  <a href="/">home</a>.
